@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --Inter-font: 'Inter', sans-serif;
    --Roboto-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Roboto-font);
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}